html{
 background-color: #FDF2E9 ;

}
body{
  background-color: #FAE5D3;
  margin: 3px solid black;
  
}
label{
    color:coral;
}
h1{
  
    color:chocolate;
    font-size:xx-large;
    font:small-caps 100%/200% serif ;
}