html{
 background-color: #FDF2E9 ;

}
body{
  background-color: #FAE5D3;
  margin: 0 auto;
  border: 5px solid black;
}
label{
    color:coral;
}
h1{
    color:chocolate;
    font-size: 26;
    font:small-caps 100%/200% serif ;
}